@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

table td, table th{
  border: 1px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  min-width: 80px;
}

.android-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 15px;
  background-color: #013951; 
  border: 1px solid #013951; 
  color: white;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.android-button:hover {
  border: 1px solid #fff; 
}
.android-button i {
  margin-right: 10px; /* Space between icon and text */
}

.gradiantBgButton{
  background: linear-gradient(to right, transparent 0%, #0098c7 50% , transparent 100%);
}

.rotateIcon{
  animation: 1s linear infinite rotate;
}
.blinkText{
  animation: 1.2s linear infinite blink;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    transform: scale(1);
  }
  75% {
    transform: scale(.95);
  }
  100% {
    transform: scale(1);
  }
}